<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Travel App</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
</head>

<body>

  <header>
    <section id="title">
      <h1>
        Discover the World.
      </h1>
    </section>

    <div id="main">

      <section id="navi">

        <div class="city holder">
          <h3>Where do you want to go? </h3>
          <input type="text" id="city-to" placeholder="Enter City">
        </div>

        <div class="date holder">
          <h4>Departing : </h4>
          <input type="date" id="date-start" placeholder="Departure Date">
          <h4>Returning : </h4>
          <input type="date" id="date-end" placeholder="Returning Date">
        </div>
        <br>
        <br>
        <div id="generate">
          <button class="buttons" id="go" onclick="return Client.getImage(event)">Let's Go!</button>
        </div>

      </section>

    </div>
  </header>

  <section id="main-functionality" style="display: none;">

    <span id="printable">

      <section id="travel-card">
        <div id="trip-title">
          <p id="trip-name"></p>
          <div id="countdown"></div>
        </div>

        <section id="city-image">
        </section>

        <section id="forecast">
          <p id="weather-info">Current Weather at this location:</p>
          <img id="weather-icon">
          <div id="temp"></div>
          <div id="weather"></div>
          <br>
          <div id=additional-weather>
            <div id="apparentTemp"></div>
            <div id="uv"></div>
            <div id="aqi"></div>
          </div>
        </section>

        <section id=countryInfo></section>

    </span>

    <div id="travel-buttons">
      <!-- <button id="showCountryInfo" class="buttons">Country Information</button> -->
      <button id="print" class="buttons" onclick="Client.printDiv()">Print this Trip</button>
      <button id="back" class="buttons"><a href="#navi">Back to Top</a></button>
    </div>
  </section>

  </section>



  <footer>
    <p>Travel Planner App - An Udacity Capstone project</p>
  </footer>

  <script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
      // Use the window load event to keep the page load performant
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service-worker.js');
      });
    }
  </script>

</body>

</html>