$font-stack: 'Roboto', sans-serif;
$textshadow: 1px 1px 1px #606060;
$boxshadow: 1px 1px 3px #606060 inset;

html { 
    scroll-behavior: smooth; 
}

a{
    text-decoration: none; 
    color: #ffffff;
}

.buttons {
    display:inline-block;
    padding:10px 15px;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 16px;
    color:#ffffff;
    background-color: #FF784F;
    text-align:center;
    border: none
}

.buttons:hover {
    color: #ffffff;
    background-color:#FF9270;
}


header {
    text-align: center;

    h1{
        font: 100% $font-stack;
        font-weight: bold;
        font-size: 60px;
        text-align: left;
        margin-bottom: -25px;
        margin-top: 50px;
        color: #363732;
    }

    #main{
        background-image: url(https://cdn.pixabay.com/photo/2020/01/15/20/37/sea-4768869_1280.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        margin-left: auto;
        margin-right: auto;
        padding-top: 60px;
        width: auto;
        height: 375px;

    #navi {
        font: 100% $font-stack;
        width: 450px;
        height: 450px;
        border-radius: 50%;
        background-color: #BA92824D;
        color: #363732;
        display: flex; 
        flex-direction: column;
        justify-content: center; 
        align-items: center;
        margin: auto;
        font-weight: light;
    }
    }
}

#travel-card{
    display: grid;
    grid-template-areas:
    "header header header"
    "image image image"
    "weather info info"
    "buttons buttons buttons"
    ;
    grid-template-columns: 1fr 3fr 2fr 1 fr;
    gap: 20px;
    font: 100% $font-stack;
    margin: 100px;
    margin-top: 180px;
    padding: 50px;
    box-shadow: 2px 2px 10px lightgrey;
    color: #363732;

    #trip-title{
    grid-area: header;
    
        #trip-name{
        font-size: 30px;
        font-weight: bold;
        margin: 0px;
        padding-top: 20px;
        padding-bottom: 10px;
        }

        #countdown{
        font-size: 18px;
        padding-top: 10px;
        padding-bottom: 15px;
        }
    }

    #city-image{
        grid-area: image;
        display: flex;
        flex-direction: row;
        height: 250px;
        width: 1080px;
        margin: auto;
        gap: 3px;
        overflow-x: auto;
        white-space:nowrap;
    }

    #forecast{
        grid-area: weather;
        margin: auto;
        padding: 30px;
        margin-left: 20px;

        #weather-info{
            font-weight: bold;
            font-size: 18px;
            margin-top: -3px;
        }

        #additional-weather{
            font-weight: light;
            font-size: 14px;
        }
    }
    
    #countryInfo{
        grid-area: info;
        font: 100% $font-stack;
        font-size: 18px;
        line-height: 150%;
        text-align: justify;
        height: fit-content;
        margin: 30px;
        padding: 40px;
        border-radius: 5px;
    }

    #travel-buttons{
        grid-area: buttons;
        margin-left: auto;
        margin-right: 70px;
        margin-top: -90px;

        .buttons{
        width: 200px;
        margin-bottom: 10px;
        }
    }
    
}



footer{
    padding-top: 100px;
    font: $font-stack;
    font-size: 12px;
    color: #000000;
}



/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: lightslategray; 
    font-family: sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color:lightslategray; 
    font-family: sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: lightslategray; 
    font-family: sans-serif;

} 